<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Amaze UI Admin index Examples</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <script src="/js/jquery.min.js"></script>
    <script src="/js/echarts.min.js"></script>
    <link rel="stylesheet" href="/css/amazeui.min.css" />
    <link rel="stylesheet" href="/css/amazeui.datatables.min.css" />
    <link rel="stylesheet" href="/css/app.css">
</head>

<body data-type="widgets">
    <script src="/js/theme.js"></script>
    <div class="am-g tpl-g">
        <!-- 头部 -->
        <!-- 侧边导航栏 -->
        <% include ./header.ejs %>
            <!-- 侧边导航栏 -->
            <% include ./left-nav.ejs %>
                <!-- 内容区域 -->
                <div class="tpl-content-wrapper">
                    <div class="container-fluid am-cf">
                        <div class="row">
                            <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
                                <div class="page-header-heading">
                                    <span class="am-icon-home page-header-heading-icon"></span> 表单
                                    <small>Amaze UI</small>
                                </div>
                                <p class="page-header-description">Amaze UI 有许多不同的表格可用。</p>
                            </div>
                            <div class="am-u-lg-3 tpl-index-settings-button">
                                <button type="button" class="page-header-button">
                                    <span class="am-icon-paint-brush"></span> 设置</button>
                            </div>
                        </div>
                    </div>

                    <div class="row-content am-cf">
                        <div class="row">
                            <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                                <div class="widget am-cf">
                                    <div class="widget-head am-cf">
                                        <div class="widget-title am-fl">线条表单</div>
                                        <div class="widget-function am-fr">
                                            <a href="javascript:;" class="am-icon-cog"></a>
                                        </div>
                                    </div>
                                    <div class="widget-body am-fr">
                                        <form class="am-form tpl-form-line-form" method="post" action="?" enctype="multipart/form-data">
                                            <div class="am-form-group">
                                                <label for="user-name" class="am-u-sm-3 am-form-label">标题
                                                    <span class="tpl-form-line-small-title">Title</span>
                                                </label>
                                                <div class="am-u-sm-9">
                                                    <input autocomplete="off" type="text" class="tpl-form-input" name="title" placeholder="请输入标题文字">
                                                    <small>请填写标题文字10-20字左右。</small>
                                                </div>
                                            </div>

                                            <div class="am-form-group">
                                                <label for="" class="am-u-sm-3 am-form-label">描述
                                                    <span class="tpl-form-line-small-title">description</span>
                                                </label>
                                                <div class="am-u-sm-9">
                                                    <input autocomplete="off" type="text" class="tpl-form-input" name="description" placeholder="请输入描述文字">
                                                    <small>请填写标题文字10-20字左右。</small>
                                                </div>
                                            </div>


                                            <div class="am-form-group">
                                                <label for="user-weibo" class="am-u-sm-3 am-form-label">封面图
                                                    <span class="tpl-form-line-small-title">Images</span>
                                                </label>
                                                <div class="am-u-sm-9">
                                                    <div class="am-form-group am-form-file">
                                                        <div class="tpl-form-file-img">
                                                            <img src="/img/a5.png" alt="">
                                                        </div>
                                                        <button type="button" class="am-btn am-btn-danger am-btn-sm">
                                                            <i class="am-icon-cloud-upload"></i> 添加封面图片</button>
                                                        <input autocomplete="off" id="doc-form-file" type="file" multiple="" name="src">
                                                    </div>

                                                </div>
                                            </div>

                                            <div class="am-form-group">
                                                <div class="am-u-sm-9 am-u-sm-push-3">
                                                    <button type="submit" class="am-btn am-btn-primary tpl-btn-bg-color-success ">提交</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                                <div class="widget am-cf">
                                    <div class="widget-head am-cf">
                                        <div class="widget-title am-fl">斑马线</div>
                                        <div class="widget-function am-fr">
                                            <a href="javascript:;" class="am-icon-cog"></a>
                                        </div>
                                    </div>
                                    <div class="widget-body  widget-body-lg am-fr">

                                        <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black " id="example-r">
                                            <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>标题</th>
                                                    <th>描述</th>
                                                    <th>图片</th>
                                                    <th>操作</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% for(var i=0;i<data.length;i++){ %>
                                                    <tr class="gradeX">
                                                        <tr class="even gradeC">
                                                            <td>
                                                                <%= data[i].ID %>
                                                            </td>
                                                            <td>
                                                                <%= data[i].title %>
                                                            </td>
                                                            <td>
                                                                <%= data[i].description %>
                                                            </td>
                                                            <td>
                                                                <img src="/upload/<%= data[i].src %>" alt="" width="50" height="50">
                                                            </td>
                                                            <td>
                                                                <div class="tpl-table-black-operation">
                                                                    <a href="javascript:;" class="doc-prompt-toggle"  id='<%= data[i].ID %>'>
                                                                        <i class="am-icon-pencil"></i> 编辑
                                                                    </a>
                                                                    <a href="?act=delete&id=<%= data[i].ID %>" class="tpl-table-black-operation-del" onclick="return confirm('是否删除该条数据？')">
                                                                        <i class="am-icon-trash"></i> 删除
                                                                    </a>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tr>
                                                    <% } %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    </div>
    </div>
    <div class="am-modal am-modal-prompt" tabindex="-1" id="my-prompt">
        <div class="am-modal-dialog">
            <form class="am-form tpl-form-line-form" style="padding: 33px" action="?" method="post" enctype="multipart/form-data">
                <input autocomplete="off" type="hidden" name='id' value="" id="hiddeninput">
                <div class="am-form-group">
                    <input autocomplete="off" type="text" class="tpl-form-input" name="title" placeholder="标题">
                </div>
                <div class="am-form-group">
                    <input autocomplete="off" type="text" class="tpl-form-input" name="description" placeholder="描述">
                </div>
                <div class="am-form-group">
                    <input autocomplete="off" id="doc-form-file" type="file" multiple="" name="src">
                </div>
                <div class="am-form-group">
                    <button type="submit" class="am-btn am-btn-primary  am-btn-block tpl-btn-bg-color-success  tpl-login-btn">提交</button>
                </div>
            </form>
        </div>
    </div>
    <script src="/js/amazeui.min.js"></script>
    <script src="/js/amazeui.datatables.min.js"></script>
    <script src="/js/dataTables.responsive.min.js"></script>
    <script src="/js/app.js"></script>

</body>
<script>
    $(function () {
        $('.doc-prompt-toggle').on('click', function () {
            let id = $(this).attr('id')
            $('#hiddeninput').val(id)
            $('#my-prompt').modal({
                relatedTarget: this,
                onConfirm: function (e) {
                    alert('你输入的是：' + e.data || '')
                },
                onCancel: function (e) {
                    alert('不想说!');
                }
            });
        });
    });
</script>

</html>